<div class="row collapse" id="category" style="color:black; text-shadow:none;">
  {% for category in data.categories %}
    {% if category is not null %}
      <div id="categoryBox">
      </div>
    <!-- Modal -->
    <div class="modal fade" id="showProdsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black; text-shadow:none;">
      <div class="modal-dialog" style="width:100%; height:auto; padding: 0;" role="document">
        <div class="modal-content" style="height:100%; border-radius: 0;">
          <div class="modal-header">
            <h3 class="modal-title" id="categoryTitle">{{ category.categoryName|capitalize }}</h3>
            <button type="button" class="pull-right btn btn-info" data-dismiss="modal" aria-label="Close">
              Close
            </button>
          </div>
          <div class="modal-body-fullscreen" id="productBox">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#             <a href="{{ path('product_delete', { 'productId': product.id } ) }}" class="btn btn-primary">Close</a>
 #}          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endfor %}
</div>
{# <button class="btn btn-info" data-toggle='modal' data-target='.bd-example-modal-sm'>Click Me</button>
 #}
<span id="tableToArray"></span>
<div class="modal fade bd-example-modal-sm" id="changeValueModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="margin-top:200px;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <input class="form-control text-center" type="text" value="" id="valueHolder">
    </div>
  </div>
</div>
