{# {% extends 'base.html.twig' %} #}

{% block body %}
    {# Layout for PDF files #}
    <div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}	 
{% endblock %}